body {
    background-color: #f2f2f2; /* Light Gray Background */
    font-family: sans-serif;  /* Use a clean sans-serif font */
    color: #333333;          /* Dark Gray Text */
    line-height: 1.6;         /* Improves readability */
    margin: 20px;            /* Adds some margin around the content */
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1a1a1a; /* Darker text color for headings*/
    font-weight: 700;
    line-height: 1.2
}

a {
    color: #007bff;           /* Muted Blue links */
    text-decoration: none; /* removes underline*/
}

a:hover {
  text-decoration: underline;
}

p {
    margin-bottom: 1em; /* Adds space between paragraphs */
}

img{
  max-width: 100%;
  height: auto;
}

ul, ol {
    margin-bottom: 1em; /* Adds space between lists */
    padding-left: 20px; /* Indents lists */
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Centers the content */
    background-color: #ffffff; /* White background for content*/
    padding: 25px;
    border-radius: 5px;
}
